---
import Layout from "@layouts/Layout.astro";
import InnerHero from "@components/sections/InnerHero.astro";
import TurnosForm from "@components/TurnosForm.astro";
import heroImage from "../../assets/images/blog-hero-2.jpg";


const heroContent = {
    title: "Solicitá tu Turno",
    description: "Completá el siguiente formulario para solicitar tu turno. Nos pondremos en contacto a la brevedad para confirmar la fecha y hora.",
    imageAlt: "Formulario de turnos online",
    backgroundImage: heroImage,
    overlayOpacity: 0.2
}
---

<Layout 
    title="Solicitar Turno Online | CeFEM" 
    description="Pedí tu turno online en CeFEM de forma rápida y sencilla. Completá el formulario y nos contactaremos para confirmar tu cita."
>
    <InnerHero content={heroContent} />
    <section class="py-12 md:py-20">
        <div class="site-container mx-auto px-4">
            <TurnosForm />
        </div>
    </section>
</Layout>
